
<mat-accordion multi="true" class="restaurant-accordion">
    <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'45px'">
          <mat-panel-title>{{ restaurant.fullName }}</mat-panel-title>
          <mat-panel-description class="description-loading">
            <mat-progress-bar *ngIf="finished_loading" mode="indeterminate" class="loading"></mat-progress-bar>
        </mat-panel-description>
        </mat-expansion-panel-header>
        <p *ngFor="let item of menuJSON | keyvalue " >
            <mat-expansion-panel>
                <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'45px'">
                    {{ item.key }}
                </mat-expansion-panel-header>
                <mat-list *ngFor="let val of item.value">
                    <mat-list-item>{{ val.name }} {{ val.price }} Kč</mat-list-item>  
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-expansion-panel>         
        </p>
        <div *ngIf="weekMenu">
            <span [innerHTML]="weekMenu | safehtml"></span>
        </div>
    </mat-expansion-panel>
</mat-accordion>
<mat-divider></mat-divider>
