name: Deploy to GitHub Pages via angular-cli-ghpages

on:
  - push
  - workflow_dispatch

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Use Node.js 18
      uses: actions/setup-node@v1
      with:
        node-version: 18

    - name: Prepare and deploy
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        npm install
        npm run ng -- deploy --base-href=/angular-lunch-web/ --name="Lunch web" --email=pavel.yadlouski@gmail.com
